/* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default spacing */
* {
    margin: 0;
    padding: 0;
}

/* Better text rendering */
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: 'Cantarell', sans-serif;
    color: var(--text);
}

/* Images */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* Forms */
button,
input,
textarea,
select {
    font: inherit;
}

/* Links */
a {
    color: inherit;
    text-decoration: none;
}

#main_wrapper {
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 24px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-size: inherit;
    font-weight: inherit;
}


/* -- RESET DONE --  */

:root {
    --bg: #17151f;
    --surface: #2a2638;
    --primary: #8b64d4;
    --primary-hover: #9b78df;
    --text: #f5f3ff;
    --text-muted: #b8b3c9;
    --border: #393348;
}


/* -- SOME UTILITY CLASSES */

.text-xs {
    font-size: 0.75rem;
}

.text-s {
    font-size: 0.875rem;
}

.text-m {
    font-size: 1rem;
}

.text-l {
    font-size: 1.25rem;
}

.text-xl {
    font-size: 1.5rem;
}

.text-2xl {
    font-size: 2rem;
}

.text-3xl {
    font-size: 3rem;
}

.text-4xl {
    font-size: 4rem;
}

.text-5xl {
    font-size: 5rem;
}


/* Font Weight */


.font-normal {
    font-weight: 400;
}

.font-bold {
    font-weight: 700;
}

.font-italic-normal {
    font-style: italic;
    font-weight: 400;
}

.font-italic-bold {
    font-style: italic;
    font-weight: 700;
}


/* Line Height */
.leading-tight {
    line-height: 1.1;
}

.leading-normal {
    line-height: 1.5;
}

.leading-relaxed {
    line-height: 1.75;
}


/* -- UTILITY CLASSES END */



/* BODY */
 body {
    margin: 0;
    background-color: var(--bg);
}

#main_wrapper {
    background-color: var(--surface);
}

/* HEADER SECTION */

#header_line {
    padding-top: 16px;
    margin-bottom: 12px;
}

#header_wrapper ul {
    /* padding: 20px; */
    display: flex;
    gap: 4px;
    list-style: none;
    justify-content: space-around;
    background-color: var(--bg);
    margin-bottom: 24px;

}

#header_wrapper ul li {
    padding: 20px 0;
    width:100%;
    text-align: center;
    background-color: var(--primary);
    cursor: pointer;
}

#header_wrapper ul li:hover {
    background-color: var(--primary-hover);
}


/* PROFILE SECTION */

#profile_wrapper {
    display: flex;
    gap: 48px;
    /* justify-content: space-between; */
}

#pfp_links_wrapper {
    flex-shrink: 0;
}

#profile_picture {
    width: 204px;
    height: 204px;
    border-radius: 2%;
}

#social_links_wrapper ul li {
    list-style: none;
    margin: 8px;
    cursor: pointer;
}